

body{

color:#00FFDC;

    background-image:url('V9.jpg');


}
h1{
    text-align: center;

}

iframe{
    border-style: none;
    width: 100%; 
    height: 120px;
}



a {


  font-size: medium;
 background-color: #b5bce7;
    color: #000000;
    border: none;
    cursor: pointer;
    padding-left:100px;
    margin-top:20px;
    text-align: center;
}


    #fondomenu ul {
        
    list-style: none;
    margin: 0;
    padding: 0;
    }
    #fondomenu ul li a {
        width: 100px;
    height: 50px;
    margin-left: 1px;
    float: left;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
    display: block;
    }
    #fondomenu ul li a:hover {
    color: #000000;
    }

    .inicio{

        font: normal 25px;
            background-repeat: no-repeat;
color: white;
width: 100%;
}